<div class="for-home-content">

    <div class="for-content">
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
        jdhd
    </div>
</div>f