<div class="for-home-content ">

    <div class="for-content">
        <div class="for-login d-flex">
            <div class="logins">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="loginRequires.isUser" pInputText
                            (blur)="onError('isUser')" placeholder="Enter Name"
                            pTooltip="Enter your username" tooltipPosition="top"
                            [ngStyle]="{'background-color' :  erorClasses}" name="names" >
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control" [(ngModel)]="loginRequires.isPasswd" pInputText
                            (blur)="onError('isPasswd')" placeholder="Enter Password"
                            pTooltip="Enter Password" tooltipPosition="top"
                            [ngStyle]="{'background-color' :  erorClassess }" name="names">
                    </div>
                    <button class="btn btn-success btn-block" (click)="ifLogin()">Login</button><br>
                    <span class="text-white for-account">Didnt have an Account ?
                        <a href="javascript:return:false" (click)="ifSignup()">Signup
                        </a></span>
                </form>

            </div>
        </div>
    </div>
</div>