<div class="for-home-content">

    <div class="for-content">
        <div class="for-signup d-flex">
            <div class="signup">
                <form>
                    <div class="input-group mb-3">

                        <input type="text" class="form-control input-sm" [(ngModel)]="signUp.usrFirstName"
                            pTooltip="Enter First Name" tooltipPosition="top" placeholder="Your First Name"
                          
                            [ngModelOptions]="{standalone: true}">&nbsp;
                        <input type="text" class="form-control" [(ngModel)]="signUp.usrLastName"
                            placeholder="Your Last Name" pTooltip="Enter Last Name" tooltipPosition="top"
                            [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="input-group mb-3">
                        <select [(ngModel)]="signUp.ustTelCode" class="signup-select"
                            [ngModelOptions]="{standalone: true}"
                            (change)="ifSlctChngePlcHolder($event, signUp.ustTelCode)">
                            <option *ngFor="let  country of teleOptList;let contrO = index;" value="{{country.value }}">
                                {{country.label }}</option>
                        </select>
                        <input type="tel" class="form-control input-sm" [(ngModel)]="signUp.usrMobileNum"
                            placeholder="{{telePhonePlaceHolder}}" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control input-sm" [(ngModel)]="signUp.usrEmailId"
                            placeholder="Your Email" pTooltip="Enter Email" tooltipPosition="top"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control input-sm" [(ngModel)]="signUp.usrSignupPwd"
                            pTooltip="Enter Password" tooltipPosition="top" placeholder="Your Password"
                            [ngModelOptions]="{standalone: true}">

                    </div>
                    <div class="input-group mb-3">
                        <label class="radio-inline text-white">
                            <input type="radio" [(ngModel)]="signUp.usrGender" [ngModelOptions]="{standalone: true}"
                                value="M" /> Male
                            <input type="radio" [(ngModel)]="signUp.usrGender" [ngModelOptions]="{standalone: true}"
                                value="F" /> Female
                        </label>
                    </div>
                    <button class="btn btn-success btn-block input-sm" (click)="ifLogin()">Sign Up</button>
                    <span class="text-white for-signup-account">Already had an Account ?
                        <a href="javascript:return:false" (click)="ifSignup()">Login
                        </a></span>
                </form>

            </div>
        </div>
    </div>
</div>