<div class="for-home-content">
    <div class="for-content">
        <!-- <h2 class="text-black" style="margin-left: 110px;">Feed Back</h2> -->
        <div class="container">

            <div class="for-logins d-flex">
                <div class="logins">
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Your Name">&nbsp;
                            <input type="text" class="form-control" placeholder="abc@gmail.com">
                        </div>
                        <div class="input-group mb-3">

                            <textarea cols="45" rows="10" placeholder="Write a FeedBack quote  here..." d></textarea>
                        </div>
                        <div>
                            <h5 class="text-white" style="margin-left:130px">Rate us</h5>
                            <span class="text-white" style="margin-left:70px">
                                <input type="radio">Good &nbsp;
                                <input type="radio">Avergae &nbsp;
                                <input type="radio">Poor
                            </span>
                            <!-- <p-rating [(ngModel)]="rating"></p-rating> -->
                        </div><br/>
                        <button class=" btn btn-success btn-block">Post</button><br>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>