<div class="for-home-content">
    <div class="class">
        <p-carousel [value]="cars" [autoplayInterval]="2000" [numVisible]="1" [numScroll]="1">
            <ng-template let-car pTemplate="item">
                <div class="card-holder">
                    <div *ngFor="let ca of car.c; let c = index">
                        <img src="assets/images/{{ca.imgs }}" width="1221px" height="400px" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>