<div class="for-home-content">
    <p-carousel [value]="coverPagesPhotos" [autoplayInterval]="2000" [numVisible]="1" [numScroll]="1">
        <ng-template let-car pTemplate="item">
            <div class="card-holder">
                    <h2 class="text-center text-black ">{{'Mobiles'}}</h2>
                <div *ngFor="let ca of car.cP; let c = index">
                    <img src="assets/{{ca.imgMs}}/{{ca.imgs }}" width="1221px" height="400px" />
                </div>
            </div>
        </ng-template>
    </p-carousel>

    <router-outlet></router-outlet>
</div>